<h3>Today weather report</h3>
<table class="table table-responsive">
  <tr>    
    <th>Location</th>
    <th>Temperature</th>
  </tr>
  <tr>
    <td><%= forecast.location %></td>
    <td><%= forecast.currently.temperature %></td>
  </tr>
</table>
